body
{
    color: #2F4F4F;
    background-color: #F0F8FF;
    padding: 0 10%;
}

h1
{
    text-align: center;
    font-size: 45px;
    font-family: nasalization;
    color: #8b0000;
    background-color: RGB(0,0,0,0.2);
    align-content: center;
    text-decoration: underline black;
    padding: 10px 10px 10px;

}

@font-face {
    font-family: nasalization;
    src: url(/Users/macbook/Downloads) format('truetype');
}
h3
{
    text-align: center;
    font-size: 25px;
    font-family: nasalization;
    color: #B22222;
    text-decoration: underline;
    
}

p
{
    border:2px solid black;
}

.ul#menu
{display:table;}

ul#menu li
{ display:table-cell;
text-align:center;}  

span
{
    color: green;
}

